.dart_tool/
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
ios/
.metadata
android/.gradle/
android/local.properties
node_modules/
cdk.out/
.aws-amplify/
amplifyconfiguration.dart
.DS_Store
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
